.App {
  text-align: center;
  padding: 20px;
}

.header {
  height: 50px;
  padding: 30px;
}

.go:hover {
  border: 1px solid black;
}

.but:hover {
  border: 1px solid black;
}

.but-sub:hover {
  border: 1px solid black;
}

.but-sub {
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background: white;
  border: 1px solid grey;
  border-radius: 3px;
  width: 30px;
  margin: 3px;
}

.but {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background: white;
  border: 1px solid grey;
  border-radius: 3px;
  width: 40px;
}

.intent {
  padding: 55px;
}

.go-wrapper {
  padding: 120px;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

.intention {
  border: 0;
  outline: none;
  border-bottom: 1px solid lightgrey;
  margin: 20px;
  padding: 5px;
  text-align: center;
}

.intention:focus {
    border-bottom: 1px solid grey;
}

.spaces {
  display:flex;
  justify-content:center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
  color: grey;
  background: white;
    padding-top: 20px;
}

.nav {
  padding: 20px;
  text-align: center;
}

.space:hover {
  border: 1px solid black;
}

.space {
    width: 15%;
  border: 1px solid grey;
  padding: 40px;
  margin: 20px;
  float:left;
  justify-content: space-evenly;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*dictaphone*/

canvas {
  /*display: block;*/
  /*margin-bottom: 0.5rem;*/
}


/* Make the clips use as much space as possible, and
 * also show a scrollbar when there are too many clips to show
 * in the available space */
.sound-clips {
  flex: 1;
  overflow: auto;
}

section, article {
  display: block;
}

.clip {
  padding-bottom: 1rem;
}

audio {
  width: 100%;
  display: block;
  margin: 1rem auto 0.5rem;
}

.clip p {
  display: inline-block;
  font-size: 1rem;
}

.clip button {
  font-size: 1rem;
  float: right;
}

button.delete {
  background: #f00;
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
}

/* Checkbox hack to control information box display */

label {
  font-size: 3rem;
  position: absolute;
  top: 2px;
  right: 3px;
  z-index: 5;
  cursor: pointer;
  background-color: black;
  border-radius: 10px;
}

input[type=checkbox] {
   position: absolute;
   top: -100px;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: 0.3s all ease-out;
  background-color: #efefef;
  padding: 1rem;
}

aside p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

aside a {
  color: #666;
}

/* Toggled State of information box */
input[type=checkbox]:checked ~ aside {
  transform: translateX(0);
}

/* Cursor when clip name is clicked over */

.clip p {
  cursor: pointer;
}

/* Adjustments for wider screens */
@media all and (min-width: 800px) {
  /* Don't take all the space as readability is lost when line length
     goes past a certain size */
  .wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
  }
}
